node_modules
dist/
.DS_Store
.mise/
.playwright-cli/

plans/
.codex/prompts/
.codex/skills/
.codex/agents/
.codex/hooks.json
.codex/.hooks/
.agents/tmp/
.omx/
*.tgz
.itw/
# If you do want to track .itw, remove the line above. If you do not want to track it but not add this line to gitignore, move it to .git/info/exclude.
